*.lammpstrj
log.*
*.data
dump.*
info.*
restart.*
data/
*.profile
bash.out
angle.txt
angle2.txt
height.txt
area.txt

*.csv
*.pdf

remote/*

*/gif/
*/gif2
*.gif
*.png
*.mp4
*.avi
*.jpg

*.dat

*/__pycache__/
/__pycache__/*
*.pyc
*.log
*.mpg

*.xyz
